html
    head
        title Jay's Store
body

    div#main
        h1 Enter the product information
        p Name: 
            input(type="textbox" id="name")
        p Price: 
            input(type="textbox" id="price")
        p Dimensions:
            p X dimension:
                 input(type="textbox" id="xdimension")
            p Y dimension:
                 input(type="textbox" id="ydimension")
            p Z dimension:
                 input(type="textbox" id="zdimension")
        p Stock: 
            input(type="textbox" id="stock")
        button(type="button" id="submit") Submit
        script(src="/addproduct.js")
