html
	head
		title Jay's Store
body

	div#main
		h1 Search for product
		p Name
			input(type="textbox" id="name")
		p In stock:
			input(type="checkbox" id="inStock")
			button(type="button" id="submit") Submit
		a(href='/add') Add a product
		script(src="/search.js") 

			
